@charset "UTF-8";

* {
	top: 0; 
	list-style : none;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

.notice_listWrap{
	width: 100%;
	background-color: #f2f2f2;
}


.content_info {
	height: 50px;
	line-height: 50px;
	background-color: #dad9d7;
}

.select {
	margin: 0 auto;
	width: 1250px;
	overflow: hidden;
}

.select ul li {
	color: #333333;
	font-weight: bold;
}

.select ul li:hover {
	color: #59bec9;
	font-weight: bold;
}

.content_info ul li {
	float: left;
	margin: 0 0.6%;
}

.notice_title{
	padding: 30px 0 10px 0 ;
	width: 1200px;
	margin: 0 auto;
	border-bottom: 3px solid #666666;
}




#content{
	width: 700px;
	margin: 30px auto;
}

caption{
	font-size: 1.5em;
	font-weight: bold;
	margin: 20px 0;
}

#content table{
	margin: 0 auto;
	width: 690px;
	border-spacing: 0 5px;
}

#content table tr{
	height: 40px; 
}

#content table tr:first-child{
	background-color: lightgray;
	font-weight: bold;
	margin-bottom: 10px;
}

#content table tr td{
	padding: 0 10px;
}

#content table tr td:nth-child(1){
	text-align: center;
	width: 50px;
}


#content table tr td:nth-child(3){
	text-align: center;
	width: 100px;
}

#content table tr td:nth-child(4){
	text-align: center;
	width: 50px;
}

#content table tr:last-child td input{
	margin-right: -550px;
	text-align: center;
	width: 100px;
}
#content input[type=button]{
	width: 80px;
	line-height: 40px;
	height: 40px;
	color: white;
	font-weight: bold;
	font-size:1.1em;
	background-color: #351f66;
	border: 1px solid #a7b496;
	border-radius: 5px;
}



#paging{
	text-align: center;
}

.item_img img {
	text-align: center;
	height: 100px;
}

.fileimg img{
	width: 15px;
	height: 15px;
}
